
@{
    ViewBag.Title = "Account Details";
}


<div class="col-xs-12">
    <div class="tile">
        <h4 class="text-uppercase balance"><span>Balance</span>$@ViewBag.AccountBalance</h4>
    </div>
</div>

<div class="col-xs-4">
    <div class="tile">
        <img src="~/Assets/Images/deposit_vault.png" alt="Make a Deposit" class="tile-image big-illustration">
        <h3 class="tile-title">Deposit</h3>
        <p>Deposit monies in form of cash or check.</p>
    </div>
</div>

<div class="col-xs-4">
    <div class="tile">
        <img src="~/Assets/Images/quick_cash.png" alt="Withdraw Funds" class="tile-image">
        <h3 class="tile-title">Withdrawl</h3>
        <p>Withdraw funds from account.</p>
    </div>
</div>

<div class="col-xs-4">
    <div class="tile">
        <img src="~/Assets/Images/transfer_money.png" alt="Transfer Funds to Another Account" class="tile-image">
        <h3 class="tile-title">Transfer</h3>
        <p>Transfer funds to another account.</p>
    </div>
</div>