@model IEnumerable<ATM.Models.AvailableAccountsViewModel>
@{ViewBag.Title = "Available Accounts";}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    foreach (var item in Model)
    {
        <a href="@Url.Action("SelectAccount", new { @accountNumber = item.AccountNumber })">
            <div class="tile">
                <h6 class="text-uppercase text-left accountsListItem">
                    <span>@item.AccountName</span>
                    @item.AccountNumber
                    <span class="fui-arrow-right icon"></span>
                </h6>
            </div>
        </a>
    }

}