@model ATM.Models.TransactionViewModel
@{ViewBag.Title = "Deposit check";}

@using (Html.BeginForm("DepositCheck", "Operations", FormMethod.Post, new { @id = "depositForm" }))
{
    @Html.AntiForgeryToken()

    <div class="col-xs-6">

        <blockquote>Insert check into slot labeled "Insert Check" when light turns green. Click <strong>DONE</strong> to complete transaction.</blockquote>

        <div class="tile">
            <h4 class="text-uppercase"><div class="palette-clouds">Balance</div>€ @ViewBag.AccountBalance</h4>
        </div>

        <div class="tile">
            <h4 class="text-uppercase"><div class="palette-clouds">Inserted Cash</div>@Html.TextBoxFor(x => x.Amount, new { @class = "text-center apply-border" })</h4>
        </div>

        <button id="done" type="submit" class="btn btn-lg btn-success text-uppercase btn-padding" style="width:100%; margin-bottom:1rem"><span class='fui-check'></span> Done</button>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>

    <div class="col-xs-6" style="border:solid 1px #CCC; border-top:none; border-bottom:none;">
        <img src="~/Assets/Images/InsertCheckAnimations.gif" style="width:18em;" />
    </div>
}