@{ViewBag.Title = "Deposit";}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row no-margin">
        <div class="col-xs-12">
            <div class="tile">
                <h4 class="text-uppercase balance"><span>Balance</span>€ @ViewBag.AccountBalance</h4>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <a href="@Url.Action("DepositCash")">
            <div class="tile">
                <img src="~/Assets/Images/quick_cash.png" alt="Deposit Cash" class="tile-image big-illustration">
                <h3 class="tile-title">Cash</h3>
                <p>Use this option to deposit cash monies.</p>
            </div>
        </a>
    </div>

    <div class="col-xs-4">
        <a href="@Url.Action("DepositCheck")">
            <div class="tile">
                <img src="~/Assets/Images/deposit_check.png" alt="Deposit Checks" class="tile-image">
                <h3 class="tile-title">Check</h3>
                <p>Use this option to deposit a signed check.</p>
            </div>
        </a>
    </div>

    <div class="col-xs-4">
        <blockquote>Check deposits can take up to 24 hours to confirm.</blockquote>
    </div>
}