@{ViewBag.Title = "Options";}

<div class="operations-content">
    <div class="col-xs-4">
        <a href="@Url.Action("QuickCash")">
            <div class="tile tile-option">
                <img src="~/Assets/Images/quick_cash.png" alt="Quick Cash" class="tile-image big-illustration">
                <h3 class="tile-title">Quick Cash <br />(10 €)</h3>
                <p>Get cash now without looking at account!</p>
            </div>
        </a>
    </div>

    <div class="col-xs-4">
        <a href="@Url.Action("Accounts")">
            <div class="tile tile-option">
                <img src="~/Assets/Images/accounts_checklist.png" alt="Accounts" class="tile-image">
                <h3 class="tile-title">Select Account(s)</h3>
                <p>View available accounts, check balances, and more...</p>
            </div>
        </a>
    </div>

    <div class="col-xs-4">
        <a href="@Url.Action("AccountOperations")">
            <div class="tile tile-option">
                <img src="~/Assets/Images/deposit_vault.png" alt="Operations" class="tile-image">
                <h3 class="tile-title">Bank Operations</h3>
                <p>
                    Deposits, Withdraw or transfer funds.
                </p>
            </div>
        </a>
    </div>

    <div id="IndexView"></div>
</div>
@{Html.RenderPartial("_ErrorDisplay"); }