@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuickCash</title>
</head>
<body>
    <div>
        Operação efetuada com sucesso.
    </div>
</body>
</html>