@model IEnumerable<ATM.Models.AvailableAccountsViewModel>
@{ViewBag.Title = "Transfer Funds";}
<div class="col-xs-12">
    <blockquote>Transfer funds from one account to another. You can type in a routing number of another account that is not in your available accounts. </blockquote>
</div>
<div class="col-xs-6">
    <div class="tile">
        <h5>From:</h5>

        <button data-toggle="modal" data-target="#fromAccount" class="btn btn-block btn-lg btn-inverse"><h6 id="mainFromAccount">@Session["AccountNumber"]</h6></button>
    </div>
</div>

<div class="col-xs-6">
    <div class="tile">
        <h5>To:</h5>

        <button data-toggle="modal" data-target="#toAccount" class="btn btn-block btn-lg btn-inverse"><h6 id="mainToAccount">&nbsp;</h6></button>
    </div>
</div>
<div class="col-xs-12">
    <blockquote><h6>Click an account number to change to a different account.</h6></blockquote>
</div>
<div class="col-xs-12" style="margin-bottom: 2rem;">
    <a href="#" class="btn btn-block btn-lg btn-success"><h6><span class="fui-check"></span> Confirm Transfer</h6></a>
</div>

<!-- Modal fromAccount -->
<div class="modal fade" id="fromAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Available Accounts</h4>
            </div>
            <div class="modal-body">

                <p>Select from an available account below.</p>

                <div id="divFromAccounts"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal toAccount -->
<div class="modal fade" id="toAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Available Accounts</h4>
            </div>
            <div class="modal-body">
                <!-- Available Accounts -->
                <p>Input Routing Number</p>
                <input type="text" id="toAccountCustom" class="form-control" />
                <button type="button" class="btn btn-primary text-uppercase routingButton">Use Routing Number</button>
                <p>or select from an available account below.</p>

                <div id="divToAccounts">
                </div>
                <!-- // END Available Accounts -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function SelectFromAccount(event) {
            let el = event.srcElement;

            let accountNumber = el;
            if (el.id != "txtAccountNumber") {
                accountNumber = el.offsetParent.querySelector("#txtAccountNumber")
            }

            let fromAccount = document.querySelector("#mainFromAccount");
            let tempAccHolder = fromAccount.textContent;
            fromAccount.textContent = accountNumber.textContent;
            accountNumber.textContent = tempAccHolder;
            $(".modal").modal('hide');
            BindAccounts("From");
        }

        function SelectToAccount(event) {
            let el = event.srcElement;

            let accountNumber = el;
            if (el.id != "txtAccountNumber") {
                accountNumber = el.offsetParent.querySelector("#txtAccountNumber")
            }

            let ToAccount = document.querySelector("#mainToAccount");
            let tempAccHolder = ToAccount.textContent;
            ToAccount.textContent = accountNumber.textContent;
            accountNumber.textContent = tempAccHolder;
            $(".modal").modal('hide');
            BindAccounts("To");
        }
    </script>

    <script type="text/javascript">
        var globalUserAccounts;

        document.addEventListener("DOMContentLoaded", function () {

            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    globalUserAccounts = JSON.parse(xhttp.responseText);
                    BindAccounts("From");
                    BindAccounts("To");
                }
                else if (this.readyState == 4 && this.status != 200) {
                    console.log("Failed: ", xhttp.responseText);
                }
            };
            xhttp.open("GET", "GetUserAvailableAccounts", true);
            xhttp.send();

        });

        function BindAccounts(FromOrTo) {

            let divAccounts;
            let currentAcc;
            let clickFunction;
            if (FromOrTo == "From") {
                divAccounts = document.querySelector("#divFromAccounts");
                currentAcc = document.querySelector("#mainFromAccount");
                clickFunction = SelectFromAccount;
            } else if (FromOrTo == "To") {
                divAccounts = document.querySelector("#divToAccounts");
                currentAcc = document.querySelector("#mainToAccount");
                clickFunction = SelectToAccount;
            }
            else {
                console.log("Dev: Please define parameter for BindAccountsFunction.");
                return;
            }

            divAccounts.innerHTML = "";

            globalUserAccounts.forEach(function (account) {
                if (currentAcc.textContent != account.AccountNumber) {
                    let anchor = document.createElement('a');
                    anchor.href = "javascript:void(0)";
                    anchor.classList.add("btn", "btn-block", "btn-lg", "btn-inverse", "text-uppercase", "modalList");
                    anchor.onclick = clickFunction;

                    let para = document.createElement('p');

                    let spanAccountName = document.createElement('span');
                    spanAccountName.id = "txtAccountName";
                    spanAccountName.textContent = account.AccountName;

                    let spanAccountNumber = document.createElement('span');
                    spanAccountNumber.id = "txtAccountNumber";
                    spanAccountNumber.textContent = account.AccountNumber;

                    para.appendChild(spanAccountName);
                    para.appendChild(spanAccountNumber);
                    anchor.appendChild(para);
                    divAccounts.appendChild(anchor);
                }
            });
        }
    </script>
}