<div class="row no-margin">
    <div class="col-xs-6">
        <h1 class="demo-section-title text-uppercase"> @ViewBag.Title </h1>
    </div>
    <div class="col-xs-6 pull-right text-right">
        <h6><b>Account #:</b> @Session["AccountNumber"]</h6>
    </div>
</div>
