<div class="row no-margin">

    <div class="col-xs-12">

        <h1 class="demo-section-title text-uppercase"> @ViewBag.Title </h1>
    </div>

    <div class="col-xs-12">
        <h8><b>Account #:</b> @Session["AccountNumber"]</h8>
    </div>
</div>